.feature-card {
    font-family: "Raleway", sans-serif;
    font-size: 14px;

    padding: 0 20px;
    margin-bottom: 2rem;
}

.icon-container > img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.feature-name {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem auto;
}

.feature-description {
    text-align: center;
    color: #6c7279;
    line-height: 1.5em;
}
